/*
    Document   : styles
    Created on : 12/04/2009, 09:01:08 PM
    Author     : Mauricio Albanese
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

    /*Estilos propios*/
    .botonera{
		height: 38px;	
	}

 	.spacing {
    margin-bottom:3px !important;
    margin-top:3px !important;
	width: 200px !important;
	height: 45px !important;
	}
	
		/*
   Tabla resultado
	*/
	   /***Sobrecarga el estilo de primefaces en el datatable************/
	.ui-datatable tr.ui-datatable-odd:hover {
	    background: #D7E6EA;
	}
	
	.ui-datatable tr.ui-datatable-even:hover {
	    background: #D7E6EA;
	}
	
	/*
   Controla una de las filas del tbresult
	*/
	.ui-datatable tr.ui-datatable-even {
	   font-size: 9px;
	   font-family: Verdana, Arial, Helvetica, sans-serif;
	   height: 40px;
	   border-color: rgba(111,111,111,0.2)  transparent;
	   font-weight: lighter;
	   background-color: #FAFAFA;
	}

	/*
   Controla la otra de las filas del tbresult
	*/
	.ui-datatable tr.ui-datatable-odd {
	   font-size: 9px;
	   font-family: Verdana, Arial, Helvetica, sans-serif;  
	   height: 40px;
	   border-color: rgba(111,111,111,0.2)  transparent;
	   font-weight: lighter;
	   background-color: #e6f0ff;
	}
	
	/***Sobrecarga el estilo de primefaces en el header y footer de un datatable************/
	.ui-datatable .ui-datatable-header,
	.ui-datatable .ui-datatable-footer {
	    text-align:left;
	}
	
	.ui-datatable tbody td.wrap {
	    table-layout: fixed;
	    white-space:normal !important;
	    word-wrap: break-word;
	}
	.ui-paginator {
	text-align: left ! important
	}
	
	   /**Se usa mostrar detalle de tbReults con muchos campos*/
	.detalleTarea{
	font-weight: bold;
	font-style: italic;
   }
   
    /***Sobrecarga el estilo de primefaces autocomplete************/
	.ui-autocomplete-input{height:45px;margin-bottom: 3px; width: 200px;}

	.ui-autocomplete-panel .ui-autocomplete-list-item {
	  white-space: nowrap;
	  font-size: 7.8pt;	  
	}
	
	.ui-autocomplete .ui-autocomplete-dropdown {  
	  width: 25px; 
	  height: 95%; 
      } 