	/*
	    Document   : styles
	    Created on : 12/04/2009, 09:01:08 PM
	    Author     : Andres
	    Description:
	        Purpose of the stylesheet follows.
	*/
	
	/*
	   TODO customize this sample style
	   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
	*/
	
	/*
	   Para Tablas detalle de datos
	   background: url(../../resources/img/bklogin.png);
	*/
	
	
	
	body {
	    background: url(http://lorempixel.com/1520/800/city/9) no-repeat center center fixed; 
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 11px;
	    color: #003062;
	    margin: 0px;
	    padding: 0px;	   
	    
		}
	
	#ini{
		width: 100%;
	    font-size: 14px;
	    font-style: italic;
	    font-weight:  bold; 
	    color: #003062;
	}
	
	hr {  height: 1px; border: 0;
    margin-top: 5px;
    background-color: white;
    }


	